body{
  background-color:#22262eff;
  color: #e1e2e6ff;
}

.menu-ceh{
  background-color: #22262eff;
}

.title-principal{
  font-size: 3.5rem;
}

.card-ceh{
  border-color: #e1e2e6ff ;
}

.card-user{
  & img{
    width: 50%;
  }
   
}
a{
    text-decoration: none;
  }